<link rel="stylesheet" href="/static/css/style.css">
<div class="wrapper">
  <div class="form">
    <div class="title">
      Home
    </div>

    <!-- Create Node Form -->
    <form method="post" action="/create_node/">
        {% csrf_token %}
        <button class="btn enabled input_wrap" style="padding: 15px" type="submit">Create Node</button>
    </form>

    <!-- Stop Node Form -->
    <form method="post" action="/stop_node/">
        {% csrf_token %}
        <button class="btn enabled input_wrap" style="padding: 15px" type="submit">Stop Node</button>
    </form>
  
    <!-- Connect Node Form -->
    <form method="post" action="/connect_node/">
        {% csrf_token %}
        <button class="btn enabled input_wrap" style="padding: 15px" type="submit">Connect Node</button>
    </form>
  
    <!-- Disconnect Node Form -->
    <form method="post" action="/disconnect_node/">
        {% csrf_token %}
        <button class="btn enabled input_wrap" style="padding: 15px" type="submit">Disconnect Node</button>
    </form>

    <!-- Log Out Form -->
    <form method="post" action="{% url 'logout' %}" >
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
  </div>
</div>