<link rel="stylesheet" href="/static/css/style.css?after">
<div class="grid">


  <!-- Create Node -->
  <div class="wrapper">
    <div class="form">
      <div class="title">
        Create Node
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="input_wrap">
          <label>Hornet Number (Create):</label>
          <input type="text" name="create_number" placeholder="Enter hornet number to create (0 ~ 99)">
          <!-- "create_number" is a key for a user input. By using this, you can get the user input in the server -->

          {% if messages %}
            {% for message in messages %}
              {% if "success" in message.tags %}
                <span class="success_msg">
                  {% if "create_node" in message.tags %}
                    {{ message }}
                  {% endif %}
                </span>
              {% elif "error" in message.tags %}
                <span class="error_msg">
                  {% if "create_node" in message.tags %}
                    {{ message }}
                  {% endif %}
                </span>
              {% endif %}
            {% endfor %}
          {% endif %}

        </div>

        <!-- Key: "action", value: "create_node" -->
        <!-- In order to distinguish from other functions like stop_node, connect_node... -->
        <button class="btn enabled input_wrap" style="padding: 15px" type="submit" name="action" value="create_node">Create Node</button>
      </form>
    </div>
  </div>
  
  
  <!-- Stop Node -->
  <div class="wrapper">
    <div class="form">
      <div class="title">
        Stop Node
      </div>
      
      <form method="post">
        {% csrf_token %}
        <div class="input_wrap">
          <label>Hornet Number (Stop):</label>
          <input type="text" name="stop_number" placeholder="Enter hornet number to stop (0 ~ 99)">
          <!-- "stop_number" is a key for a user input. By using this, you can get the user input in the server -->
          {% if messages %}
            {% for message in messages %}
              {% if "success" in message.tags %}
                <span class="success_msg">
                  {% if "stop_node" in message.tags %}
                    {{ message }}
                  {% endif %}
                </span>
              {% elif "error" in message.tags %}
                <span class="error_msg">
                  {% if "stop_node" in message.tags %}
                    {{ message }}
                  {% endif %}
                </span>
              {% endif %}
            {% endfor %}
          {% endif %}

        </div>
        <button class="btn enabled input_wrap" style="padding: 15px" type="submit" name="action" value="stop_node">Stop Node</button>
      </form>
    </div>
  </div>

  <!-- Create Network -->
  <div class="wrapper">
    <div class="form">
      <div class="title">
        Create Network
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="input_wrap">
          <label>Network Name (Create):</label>
          <input type="text" name="network_name" placeholder="Enter network name to create">
          <!-- "network_name" is a key for a user input. By using this, you can get the user input in the server -->
          {% if messages %}
            {% for message in messages %}
              {% if "success" in message.tags %}
                <span class="success_msg">
                  {% if "create_network" in message.tags %}
                    {{ message }}
                  {% endif %}
                </span>
              {% elif "error" in message.tags %}
                <span class="error_msg">
                  {% if "create_network" in message.tags %}
                    {{ message }}
                  {% endif %}
                </span>
              {% endif %}
            {% endfor %}
          {% endif %}

        </div>
          <button class="btn enabled input_wrap" style="padding: 15px" type="submit" name="action" value="create_network">Create Network</button>
      </form>
    </div>
  </div>

  <!-- Stop Network -->
  <div class="wrapper">
    <div class="form">
      <div class="title">
        Stop Network
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="input_wrap">
          <label>Network Name (Stop):</label>
          <input type="text" name="stop_network_name" placeholder="Enter network name to stop">
          <!-- "stop_network_name" is a key for a user input. By using this, you can get the user input in the server -->
          {% if messages %}
            {% for message in messages %}
              {% if "success" in message.tags %}
                <span class="success_msg">
                  {% if "stop_network" in message.tags %}
                    {{ message }}
                  {% endif %}
                </span>
              {% elif "error" in message.tags %}
                <span class="error_msg">
                  {% if "stop_network" in message.tags %}
                    {{ message }}
                  {% endif %}
                </span>
              {% endif %}
            {% endfor %}
          {% endif %}

        </div>
          <button class="btn enabled input_wrap" style="padding: 15px" type="submit" name="action" value="stop_network">Stop Network</button>
      </form>
    </div>
  </div>
  

  <!-- Connect Nodes -->
  <div class="wrapper">
    <div class="form">
      <div class="title">
        Connect Nodes
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="input_wrap">
          <label>Host Hornet:</label>
          <input type="text" name="connect_host_number" placeholder="e.g. hornet-00">
          <label>Hornet:</label>
          <input type="text" name="connect_number" placeholder="e.g. hornet-01">
          <label>Network Name (Connect):</label>
          <input type="text" name="connect_network_name" placeholder="Enter network name to connect to">
          <!-- "connect_number" is a key for a user input. By using this, you can get the user input in the server -->
          {% if messages %}
            {% for message in messages %}
              {% if "success" in message.tags %}
                <span class="success_msg">
                  {% if "connect_nodes_" in message.tags %}
                    {{ message }}
                  {% endif %}
                </span>
              {% elif "error" in message.tags %}
                <span class="error_msg">
                  {% if "connect_nodes_" in message.tags %}
                    {{ message }}
                  {% endif %}
                </span>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
          <button class="btn enabled input_wrap" style="padding: 15px" type="submit" name="action" value="connect_nodes">Connect Nodes</button>
      </form>
    </div>
  </div>


  <!-- Disconnect Nodes -->
  <div class="wrapper">
    <div class="form"> 
      <div class="title">
        Disconnect Nodes
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="input_wrap">
          <label>Host Hornet:</label>
          <input type="text" name="disconnect_host_number" placeholder="e.g. hornet-00">
          <label>Hornet:</label>
          <input type="text" name="disconnect_number" placeholder="e.g. hornet-01">
          <label>Network Name (Disconnect):</label>
          <input type="text" name="disconnect_network_name" placeholder="Enter network name to disconnect from">
          <!-- "disconnect_number" is a key for a user input. By using this, you can get the user input in the server -->
          {% if messages %}
            {% for message in messages %}
              {% if "success" in message.tags %}
                <span class="success_msg">
                  {% if "disconnect_nodes" in message.tags %}
                    {{ message }}
                  {% endif %}
                </span>
              {% elif "error" in message.tags %}
                <span class="error_msg">
                  {% if "disconnect_nodes" in message.tags %}
                    {{ message }}
                  {% endif %}
                </span>
              {% endif %}
            {% endfor %}
          {% endif %}

        </div>
          <button class="btn enabled input_wrap" style="padding: 15px" type="submit" name="action" value="disconnect_nodes">Disconnect Nodes</button>
      </form>
    </div>
  </div>
</div>


<!-- Logout -->
<div class="logout-wrapper">
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button class="btn logout-btn" type="submit">Logout</button>
  </form>
</div>